<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

		<target xsi:type="File" name="file" fileName="d:\nlog2.txt" layout="
============${level} (${longdate}) =============${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message : ${exception:format=Message}${newline}
Additional: ${message}${newline}" />
  </targets>
	<target name="db"
					xsi:type="Database"
					connectionString="server=.;Database=DMRAKPHASE3;user id=sa;password=123"
					commandType="StoredProcedure"
					commandText="[dbo].[NLog_AddEntry_p]"
        >
		<parameter name="@machineName"    layout="${machinename}" />
		<parameter name="@logged"         layout="${date}" />
		<parameter name="@level"          layout="${level}" />
		<parameter name="@message"        layout="${message}" />
		<parameter name="@logger"         layout="${logger}" />
		<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
		<parameter name="@callsite"       layout="${callsite}" />
		<parameter name="@exception"      layout="${exception:tostring}" />
	</target>
  <rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>