@{
	ViewBag.Title = "New";
}
<div class="container">
	<div id="app" class="row">
		<div class="row">
			<div class="form-group m-3 col-5">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-sm">
							<input type="radio" value="0" v-model="selected" /> {{accountNumber.title}}
						</span>
					</div>
					<input type="text"
						   v-model="accountNumber.value"
						   class="form-control"
						   :aria-label="accountNumber.title"
						   aria-describedby="inputGroup-sizing-sm"
						   :disabled="selected != 0" />
				</div>
				<small v-if="accountNumber.error.length == 0" class="form-text text-muted">
					{{accountNumber.description}}
				</small>
				<small v-if="accountNumber.error.length > 0" class="form-text text-danger">
					<i class="fas fa-exclamation-triangle animated faa-pulse"></i>{{accountNumber.error}}
				</small>
			</div>
			<div class="form-group m-3 col-6">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-sm">
							<input type="radio" value="1" v-model="selected" /> {{cardNumber.title}}
						</span>
					</div>
					<input type="text"
						   v-model="cardNumber.value"
						   class="form-control"
						   :aria-label="cardNumber.title"
						   aria-describedby="inputGroup-sizing-sm"
						   :disabled="selected != 1" />
					<div class="input-group-append">
						<button class="btn btn-sm btn-success" :disabled="selected < 0" v-on:click="validate()"><i class="fas fa-save"></i> Validate</button>
					</div>
				</div>
				<small v-if="cardNumber.error.length == 0" class="form-text text-muted">
					{{cardNumber.description}}
				</small>
				<small v-if="cardNumber.error.length > 0" class="form-text text-danger">
					<i class="fas fa-exclamation-triangle animated faa-pulse"></i>{{cardNumber.error}}
				</small>
			</div>
			<hr />
		</div>
		<div class="row">
			<div class="form-group m-0 col-6">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							Name:
						</div>
					</div>
					<input type="text" readonly class="form-control" disabled v-model="name">
				</div>
			</div>
			<div class="form-group m-0 col-6">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							CIF:
						</div>
					</div>
					<input type="text" readonly class="form-control" disabled v-model="CIF">
				</div>
			</div>
		</div>

		<div class="row" v-if="validated">

			<h4 class="border-bottom my-3 text-danger col-12">Customer Information</h4>
			<hr />
			<br />
			<div class="form-group m-0 col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" v-model="Statement">
						</div>
					</div>
					<input type="text" readonly class="form-control" value="Statement">
				</div>
			</div>
			<div class="form-group m-0 col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" v-model="FDConfirmation">
						</div>
					</div>
					<input type="text" readonly class="form-control" value="FD Confirmation">
				</div>
			</div>
			<div class="form-group m-0 col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" v-model="Remittance">
						</div>
					</div>
					<input type="text" readonly class="form-control" value="Remittance">
				</div>
			</div>
			<div class="form-group m-0 col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" v-model="JointAccount">
						</div>
					</div>
					<input type="text" readonly class="form-control" value="Joint Account">
				</div>
			</div>
			<div class="form-group m-0 col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" v-model="Investments">
						</div>
					</div>
					<input type="text" readonly class="form-control" value="Investments">
				</div>
			</div>
			<h4 class="border-bottom my-3 text-danger col-12">eDelivery Information</h4>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text bg-secondary text-white"><input type="checkbox" v-model="emailChecked" />&nbsp;&nbsp;Email Delivery</span>
					<span class="input-group-text">Primary Email:</span>
				</div>
				<input type="text" class="form-control" :disabled="!emailChecked" v-model="PrimaryEmail">
				<div class="input-group-prepend">
					<span class="input-group-text" id="">Secondary Email:</span>
				</div>
				<input type="text" :disabled="!emailChecked" class="form-control" v-model="SecondaryEmail">
			</div>
			<br />
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text bg-secondary text-white"><input type="checkbox" v-model="faxChecked" />&nbsp;&nbsp;Fax Delivery</span>
					<span class="input-group-text">Fax number:</span>
				</div>
				<input type="text" :disabled="!faxChecked" class="form-control" v-model="FaxNumber">
			</div>
			<button class="btn btn-success btn-sm border-top mt-2" :disabled="inProgress" v-on:click="save()"><i v-if="inProgress" class="fas fa-spin fa-spinner"></i><i v-else class="fas fa-save"></i> Submit</button>
		</div>


		<div class="col-12 alert alert-danger" role="alert" v-if="error.length > 0">
			{{error}}
		</div>
	</div>
</div>
<script src="~/js/Registration/New/js.js?@Guid.NewGuid().ToString()"></script>
