<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - RAKBANK WRM</title>
	<link href="~/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/fa.css" rel="stylesheet" />
	<link href="~/css/faa.css" rel="stylesheet" />

	<script src="~/js/axios.js"></script>
	<script src="~/js/jquery.js"></script>
	<script src="~/js/fa.js"></script>
	<script src="~/js/bootstrap.js"></script>
	<script src="~/js/vue.js"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img src="~/images/dtech.jfif"height="30" alt="">
		</a>
		WRM application
	</nav>
    <div class="container-fluid mt-3 body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - D.TECH Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
